<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucr.cutiehack.parkbnb">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLiY_qIswg40qE9OMJ1NxLlii6sgm5aSg" />

        <activity
            android:name=".Registration"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".CreateListingActivity" />
        <activity android:name=".ListingsMapActivity" />
        <activity android:name=".ViewListingActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RentorLogin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UserProfile" />
        <activity android:name=".EnterInfo" />
        <activity android:name=".BookedListingMapActivity"></activity>
    </application>

</manifest>